$primary-normal: #06121e;
$primary-light: #0c2135;
$primary-dark: #040f14;

$secondary-normal: #090d11;
$secondary-light: #1a1f25;
$secondary-dark: #06090c;

$black-normal: #232224;
$black-light: #161617;
$black-dark: #353436;

$white-normal: #FFF;
$white-light: #fefbff;
$white-dark: #edeaef;

$red-normal: #d94140;
$red_light: #d34040;
$red_dark: #b42b2b;