.contact {
  background-color: $primary-normal;
  color: $white-normal;
  text-align: center;
  padding: 60px 14px;

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: $white-normal;
  }

  p {
    font-size: 1.2rem;

    a {
      color: $accent;
      text-decoration: underline;
      transition: color 0.3s;

      &:hover {
        color: $white-light;
      }
    }
  }
}
