.services {
  background-color: $primary-normal;
  color: $white-normal;
  text-align: center;
  padding: 60px 14px;

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-top: 2rem;

    .card {
      background-color: $primary-light;
      border-radius: 12px;
      padding: 24px;
      width: 100%;
      max-width: 300px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      transition: transform 0.3s;

      &:hover {
        transform: translateY(-5px);
      }

      img {
        width: 80px;
        height: auto;
        margin-bottom: 20px;
      }

      h3 {
        font-size: 1.5rem;
        margin-bottom: 12px;
        color: $white-normal;
      }

      p {
        font-size: 1rem;
        color: $white-light;
        line-height: 1.5;
      }
    }
  }
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .services .cards {
    flex-direction: column;
    align-items: center;
  }
}
