
/* Add font files for Akira Expanded */
@font-face {
  font-family: 'Akira Expanded';
  src: url('fonts/akira-expanded.woff2') format('woff2'),
       url('fonts/akira-expanded.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Add font files for ABeeZee */
@font-face {
  font-family: 'ABeeZee';
  src: url('fonts/abeezee.woff2') format('woff2'),
       url('fonts/abeezee.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Add font files for Abel */
@font-face {
  font-family: 'Abel';
  src: url('fonts/abel.woff2') format('woff2'),
       url('fonts/abel.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Add font files for Anton SC */
@font-face {
  font-family: 'Anton SC';
  src: url('fonts/anton-sc.woff2') format('woff2'),
       url('fonts/anton-sc.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Add font files for Afacad */
@font-face {
  font-family: 'Afacad';
  src: url('fonts/afacad.woff2') format('woff2'),
       url('fonts/afacad.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Add font files for Syne */
@font-face {
  font-family: 'Syne';
  src: url('fonts/syne.woff2') format('woff2'),
       url('fonts/syne.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
:root {
  --font-family-akira-expanded: 'Akira Expanded', sans-serif;
  --font-family-abeezee: 'ABeeZee', sans-serif;
  --font-family-roboto: 'Roboto', sans-serif;
  --font-family-abel: 'Abel', sans-serif;
  --font-family-anton-sc: 'Anton SC', sans-serif;
  --font-family-afacad: 'Afacad', sans-serif;
  --font-family-inter: 'Inter', sans-serif;
  --font-family-syne: 'Syne', sans-serif;
  --Primary: rgba(32, 145, 249, 1);
  --Secondary: rgba(45, 192, 113, 1);
  --Secondary: rgba(241, 91, 7, 1);
  --text: rgba(37, 43, 66, 1);
  --second text: rgba(55, 71, 84, 1);
  --Light text: rgba(255, 255, 255, 1);
  --Dark background: rgba(37, 43, 66, 1);
  --Light background: rgba(255, 255, 255, 1);
  --Background Gradient: rgba(34, 43, 50, 1);
  --text-white: rgba(255, 255, 255, 1);
  --text-rgb-37-43-66: rgba(37, 43, 66, 1);
  --text-rgb-55-71-84: rgba(55, 71, 84, 1);
  --text-black: rgba(0, 0, 0, 1);
  --text-rgb-24-23-29: rgba(24, 23, 29, 1);
  --text-rgb-28-26-26: rgba(28, 26, 26, 1);
  --text-rgb-126-126-126: rgba(126, 126, 126, 1);
}

.text-white {
  color: var(--text-white);
}

.text-rgb-37-43-66 {
  color: var(--text-rgb-37-43-66);
}

.text-rgb-55-71-84 {
  color: var(--text-rgb-55-71-84);
}

.text-black {
  color: var(--text-black);
}

.text-rgb-24-23-29 {
  color: var(--text-rgb-24-23-29);
}

.text-rgb-28-26-26 {
  color: var(--text-rgb-28-26-26);
}

.text-rgb-126-126-126 {
  color: var(--text-rgb-126-126-126);
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.rectangle-9-6 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  filter: blur(53.099998474121094px);
  width: 100%;
  height: auto;
  fill: rgba(34, 43, 50, 1);
  border: none;
  outline: none;
}

.gradient-5 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.background-content-4 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.node-10 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.content-logo-dark-9 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.center-8 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 20px 0px 20px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 13.388429752066116%;
}

.vector-15 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.node-14 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-17 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.node-16 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-19 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.node-18 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.social-media-13 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.desktop-actions-12 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.right-11 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 44px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-22 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-abel);
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.20000000298023224px;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-link-21 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-24 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-abel);
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.20000000298023224px;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-link-23 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-26 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-abel);
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.20000000298023224px;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-link-25 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-28 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-abel);
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.20000000298023224px;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-link-27 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-30 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-abel);
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.20000000298023224px;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-link-29 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.desktop-menu-20 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 21px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.desktop-navbar-7 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.h1 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-akira-expanded);
  font-weight: 700;
  font-size: 74px;
  letter-spacing: 0.20000000298023224px;
  line-height: 84px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.h1-34 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-37 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-abeezee);
  font-weight: normal;
  font-size: 28px;
  letter-spacing: 0.20000000298023224px;
  line-height: 40px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.h4-36 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-content-33 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.container-32 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 20px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-43 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-anton-sc);
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-button-42 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.master-button-41 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 0px 16px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: var(--Secondary);
  border-radius: 35px;
}

.big-button-40 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.action-content-39 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 13px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.container-38 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 20px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.padding-bottom-44 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.desktop-hero-light-3-31 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  padding: 80px 0px 80px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.node-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}

.background-content-46 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-50 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-abel);
  font-weight: normal;
  font-size: 48px;
  letter-spacing: 0.20000000298023224px;
  line-height: 55px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-37-43-66);
}

.h2-49 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-52 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-abel);
  font-weight: normal;
  font-size: 28px;
  letter-spacing: 0.20000000298023224px;
  line-height: 40px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-55-71-84);
}

.h4-51 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-content-48 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-57 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(32, 145, 249, 1);
  border: none;
  outline: none;
}

.mdi-drawing-56 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.h3 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-akira-expanded);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.10000000149011612px;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-37-43-66);
}

.h3-58 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-61 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-abel);
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.20000000298023224px;
  line-height: 25px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-55-71-84);
}

.text-paragraphe-60 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0px 10px 0px 10px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.feature-style-2-55 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-64 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(32, 145, 249, 1);
  border: none;
  outline: none;
}

.mdi-draw-63 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.h3 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-akira-expanded);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.10000000149011612px;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-37-43-66);
}

.h3-65 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-68 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-abel);
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.20000000298023224px;
  line-height: 25px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-55-71-84);
}

.text-paragraphe-67 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0px 10px 0px 10px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.feature-style-2-62 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-71 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(32, 145, 249, 1);
  border: none;
  outline: none;
}

.mdi-brush-70 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.h3 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-akira-expanded);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.10000000149011612px;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-37-43-66);
}

.h3-72 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-75 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-abel);
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.20000000298023224px;
  line-height: 25px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-55-71-84);
}

.text-paragraphe-74 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0px 10px 0px 10px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.feature-style-2-69 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.row-54 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 52px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.items-53 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 52px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.screen-78 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  box-shadow: 0px 8.14769172668457px 63.14461135864258px 0px rgba(0,0,0,0.5);
  border-radius: 44.81230545043945px;
  width: 100%;
  height: auto;
}

.ellipse-3-80 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(32, 145, 249, 1);
  border: none;
  outline: none;
}

.vector-82 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.el-play-81 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.play-button-79 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.video-screen-77 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 81.47691345214844px;
}

.screen-content-76 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 59.07076644897461px;
  padding: 52px 0px 52px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.content-47 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 80px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.node-45 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}

.background-content-84 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-88 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-afacad);
  font-weight: normal;
  font-size: 48px;
  letter-spacing: 0.20000000298023224px;
  line-height: 55px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-37-43-66);
}

.h2-87 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-content-86 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.sem-t-tulo-1-1-89 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 500px;
  width: 100%;
  height: auto;
}

.text-94 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-abel);
  font-weight: normal;
  font-size: 28px;
  letter-spacing: 0.20000000298023224px;
  line-height: 40px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-55-71-84);
}

.h4-93 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.testimonial-style-1-92 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.row-91 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 60px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.items-90 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 21px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.h3 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-akira-expanded);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.10000000149011612px;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-button-98 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.master-button-97 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 16px 47px 16px 47px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: var(--Secondary);
  border-radius: 35px;
}

.big-button-96 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.action-content-95 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 13px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.content-85 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  padding: 100px 0px 100px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.node-83 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}

.text-104 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-abel);
  font-weight: normal;
  font-size: 48px;
  letter-spacing: 0.20000000298023224px;
  line-height: 55px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.h2-103 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-106 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-abel);
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.h4-105 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-content-102 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.image-109 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.image-110 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.text-113 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 20px;
  line-height: 43.20000076293945px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-115 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.div-114 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 50px;
}

.div-112 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12.1875px;
  padding: 0px 103px 0px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.div-111 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 0.1);
}

.div-108 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.image-117 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.image-118 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.div-116 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-4-107 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.items-119 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 21px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.content-101 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 80px;
  padding: 100px 0px 100px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
}

.aqui-100 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  background-color: var(--Dark background);
}

.background-content-121 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-125 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-abel);
  font-weight: normal;
  font-size: 48px;
  letter-spacing: 0.20000000298023224px;
  line-height: 55px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-37-43-66);
}

.h2-124 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-127 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-abel);
  font-weight: normal;
  font-size: 28px;
  letter-spacing: 0.20000000298023224px;
  line-height: 40px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-55-71-84);
}

.h4-126 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-content-123 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.h3 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-akira-expanded);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.10000000149011612px;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-37-43-66);
}

.h3-132 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-135 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-roboto);
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.10000000149011612px;
  line-height: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-24-23-29);
}

.input-134 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 47px;
  padding: 19px 20px 19px 20px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(245, 245, 245, 1);
  border: 1px solid rgba(232, 232, 232, 1);
  border-radius: 39px;
}

.text-137 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-roboto);
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.10000000149011612px;
  line-height: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-24-23-29);
}

.input-136 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 47px;
  padding: 19px 20px 19px 20px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(245, 245, 245, 1);
  border: 1px solid rgba(232, 232, 232, 1);
  border-radius: 39px;
}

.text-140 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-roboto);
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.10000000149011612px;
  line-height: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-24-23-29);
}

.frame-2-139 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.input-138 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 47px;
  padding: 23px 20px 23px 20px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(245, 245, 245, 1);
  border: 1px solid rgba(232, 232, 232, 1);
}

.text-143 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-abel);
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.20000000298023224px;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-button-142 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.master-button-141 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 18px 38px 18px 38px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: var(--Primary);
  border-radius: 35px;
}

.sign-up-form-131 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 45px;
  padding: 52px 50px 52px 50px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  box-shadow: 0px 13px 19px 0px rgba(0,0,0,0.5);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(221, 221, 221, 1);
  border-radius: 20px;
}

.action-content-130 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 13px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.left-129 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-149 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(32, 145, 249, 1);
  border: none;
  outline: none;
}

.vector-150 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(32, 145, 249, 1);
  border: none;
  outline: none;
}

.bx-bx-map-148 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-152 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-abel);
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.10000000149011612px;
  line-height: 23px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-55-71-84);
}

.h6-151 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.block-147 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-155 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(32, 145, 249, 1);
  border: none;
  outline: none;
}

.node-154 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-158 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-abel);
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.10000000149011612px;
  line-height: 23px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-55-71-84);
}

.h6-157 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.adress-156 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.block-153 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-161 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(32, 145, 249, 1);
  border: none;
  outline: none;
}

.node-160 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-164 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-abel);
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.10000000149011612px;
  line-height: 23px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-55-71-84);
}

.h6-163 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.adress-162 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.block-159 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.contact-style-2-146 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.items-145 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 52px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.map-screen-167 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.map-screen-166 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 48px;
}

.screen-content-165 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 29px;
  padding: 10px 0px 10px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-171 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(32, 145, 249, 1);
  border: none;
  outline: none;
}

.node-170 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-173 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(32, 145, 249, 1);
  border: none;
  outline: none;
}

.node-172 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.vector-175 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(32, 145, 249, 1);
  border: none;
  outline: none;
}

.node-174 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.social-media-169 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.social-168 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.right-144 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.row-128 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.content-122 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  padding: 50px 0px 50px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.node-120 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
  padding: 0px 0px 52px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 81.03545301069218%;
  background-color: rgba(255, 255, 255, 1);
}

.rectangle-131-178 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(222, 222, 224, 1);
  border-radius: 50px;
}

.rectangle-133-179 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(1, 71, 255, 1);
  border-radius: 50px;
}

.text-180 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-syne);
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-28-26-26);
}

.text-181 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-syne);
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-28-26-26);
}

.text-182 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-syne);
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-28-26-26);
}

.text-183 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-syne);
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-184 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-syne);
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-28-26-26);
}

.text-185 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-syne);
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-28-26-26);
}

.text-186 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-syne);
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-28-26-26);
}

.text-187 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-syne);
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-28-26-26);
}

.text-188 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-syne);
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-28-26-26);
}

.text-189 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-syne);
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-28-26-26);
}

.text-190 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-syne);
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-126-126-126);
}

.rectangle-132-191 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 100px;
}

.text-192 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-syne);
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-28-26-26);
}

.text-193 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-syne);
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-white);
}

.text-194 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-syne);
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-white);
}

.text-195 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-syne);
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.vector-197 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.vector-198 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.vector-199 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.vector-200 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.social-icons-196 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.line-32-201 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(255, 255, 255, 1);
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.component-1-177 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.node-176 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 150px 0px 150px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: var(--Dark background);
}

.frame-3-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.desktop-2-1 {
@media (max-width: 1440px) {
  .desktop-2-1 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .desktop-2-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1777px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}
